
  <nav class="navhomepage"> 
    <h2>iFeelMovie</h2>
    <ul>
      <li>Teste ici</li>
      <li><a href="/signup">sign up</a> </li>
      <li><a href="/ ">Home</a> </li>
    </ul>
 </nav>

{{! views/auth/signup.hbs }}

<form id="form" action="/signup" method="POST">
  <label for="username">Username</label><br>
  <input id="username" type="text" name="username">

  <label for="password">Password</label><br>
  <input id="password" type="password" name="password">

  <button type="submit">Create account</button>


{{#if errorMessage}}
  <div class="error-message">{{ errorMessage }}</div>
{{/if}}

<script src="bower_components/zxcvbn/dist/zxcvbn.js">
</script> 

</form>
