
  <nav class="navhomepage"> 
    <h2>iFeelMovie</h2>
    <ul>
      <li>Teste ici</li>
      <li><a href="/signup">sign up</a> </li>
      <li><a href="/ ">Home</a> </li>
    </ul>
 </nav>

  <div class ="homepage">
    <div>
      <p id="accroche1">Une liste de films </p>
      <p id="accroche2">selon ton mood !</p>
    </div>


    <div id= "btnlogin"><a href="/login" class="btn">Sign in</a></div>
     {{!-- <button id="test-button"> Sign in!</button> --}}
  </div>
  
