
  <nav> 
    <h2>iFeelMovie</h2>
    <ul>
      <li>Sign in</li>
      <li>Sing up</li>
    </ul>
 </nav>

  <div>
    <p>Trouve le film ou la serie qui correspond à ton mood !.</p>
     <button id="test-button">Fais le test!</button>
  </div>

