 <nav class="navhomepage"> 
    <h2>iFeelMovie</h2>
    <ul>
      <li>Teste ici</li>
      <li><a href="/signup">sign up</a> </li>
      <li> <a href="/">Home</a> </li>
    </ul>
 </nav>

<div id="moviespage">
  
  <h1>D'après ton mood voila ce qu'on te propose </h1>

  
    {{#each movies}}
    <ul>
    <li class="movie">
      <img src="{{this.Poster}}">
      <h4>{{this.Title}}</h4>
      <p>
        <a href="/movies/{{this.id}}">see more</a>
      </p>
    </li>
     </ul>
    {{/each}}

</div>