

<nav class="navhomepage"> 
    <h2>iFeelMovie</h2>
    <ul>
      <li>Teste ici</li>
      <li><a href="/signup">sign up</a> </li>
      <li> <a href="/">Home</a> </li>
    </ul>
 </nav>


<section class="mood" role="listbox">
  <a href="/movies?mood=heartbroken" method="GET" class="#" role="option">1<img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/apple/237/broken-heart_1f494.png"></a>
  <a href="/movies?mood=sad" method="GET" class="#" role="option">2<img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/apple/237/crying-cat-face_1f63f.png"></a>
  <a href="/movies?mood=happy" method="GET" class="#" role="option">3<img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/apple/237/smiling-face-with-open-mouth_1f603.png"></a>
</section>


