@import url(https://fonts.googleapis.com/css?family=Oswald:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
*, :before, :after {
  box-sizing: border-box; }

body {
  background: #000000;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  line-height: 24px; }

.error-message {
  background: #d72323;
  box-sizing: border-box;
  color: #f5eded;
  margin: 20px auto;
  padding: 20px;
  width: 100%; }

.navhomepage {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 90px;
  background: black;
  background: linear-gradient(0deg, black 0%, #3b3b3a 100%);
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  border-bottom: darkgray;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  letter-spacing: normal; }

.navhomepage ul li {
  display: inline;
  padding-right: 0px;
  color: #f5eded;
  font-size: small;
  padding-right: 10px;
  font-weight: 400; }

.navhomepage h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 70px;
  letter-spacing: 10px;
  text-align: center;
  color: white;
  font-weight: 400;
  text-transform: uppercase;
  z-index: 10;
  opacity: .9;
  padding-left: 10px; }

.homepage {
  overflow: hidden;
  min-height: 70vh;
  background-image: url("../images/Contenuhomep.jpeg");
  background-size: cover;
  display: flex;
  flex-direction: column; }

.homepage p {
  width: 500px;
  font-weight: normal;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
  color: #f5eded;
  font-family: 'Radley', serif; }

#textehomep {
  padding-top: 50px; }

#btnlogin {
  justify-content: center;
  display: flex;
  padding-top: 140px; }

.btn {
  background: #d72323;
  border: 1px solid #d72323;
  border-radius: 4px;
  color: #f5eded;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: .3s ease background; }

.btn:hover {
  background: #3e3636;
  color: #f5eded;
  transition: .3s ease background; }

#accroche1 {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  line-height: 0;
  font-weight: 400;
  letter-spacing: 8px;
  text-transform: uppercase;
  color: whitesmoke; }

#accroche2 {
  font-family: 'Oswald', sans-serif;
  font-size: 45px;
  line-height: 0;
  font-weight: 500;
  letter-spacing: 8px;
  text-transform: uppercase;
  color: whitesmoke; }

/*Secret---------------*/
#usercontainer button {
  background: #d72323;
  border: 1px solid #d72323;
  border-radius: 4px;
  color: #f5eded;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: .3s ease background; }
  #usercontainer button button:hover {
    background: #3e3636;
    color: #f5eded;
    transition: .3s ease background; }
  #usercontainer button a:link {
    text-transform: none;
    color: #f5eded;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase; }

/*SignUP---------------*/
#form {
  margin: 30px auto;
  width: 380px; }
  #form h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    letter-spacing: normal;
    text-align: center;
    color: white;
    font-weight: 50;
    text-transform: uppercase;
    z-index: 10;
    opacity: .9; }

#form label {
  color: #3e3636;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  width: 100%; }

#form input,
#form button {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 4px;
  width: 100%;
  margin-bottom: 20px; }

#form button {
  background: #d72323;
  border: 1px solid #d72323;
  border-radius: 4px;
  color: #f5eded;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: .3s ease background; }

#form button:hover {
  background: #f5eded;
  color: #d72323;
  transition: .3s ease background; }

/*Reseau S------------*/
/*MoviesLIST----------------------------------------*/
#moviespage ul {
  list-style-type: none; }

.details {
  letter-spacing: 0;
  text-transform: none; }

/*test-------------------------*/
.title-before:before, section:before {
  content: attr(class);
  position: absolute;
  left: 2px;
  top: -2em;
  text-transform: uppercase;
  color: #f5eded;
  font-weight: bold;
  font-size: 1.2em; }

* {
  box-sizing: border-box; }

body {
  background: #000000;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 10px;
  text-align: center;
  color: white;
  font-weight: 400;
  text-transform: uppercase;
  z-index: 10;
  opacity: .9;
  color: #f5eded;
  padding: 4% 0;
  width: 80%;
  max-width: 84em;
  margin: 0 auto;
  overflow-x: hidden; }

section {
  min-height: 8em;
  margin: 6% auto;
  display: flex;
  position: relative; }
  section a {
    display: flex;
    flex-grow: 1;
    cursor: pointer;
    transition: all 100ms ease-in;
    border-bottom: 1em solid #000000;
    margin: 2px;
    padding: 0.5em;
    color: #3e3636; }
    section a:hover {
      border-bottom-width: 0em; }
    section a.clicked {
      color: #3e3636;
      flex-grow: 1.4; }
  section.mood a:nth-child(1) {
    background-color: #c6597f; }
  section.mood a:nth-child(2) {
    background-color: #b26a8b; }
  section.mood a:nth-child(3) {
    background-color: #9d7b96; }
  section.mood a:nth-child(4) {
    background-color: #898ca1; }
  section.mood a:nth-child(5) {
    background-color: #749dac; }
  section.mood a:nth-child(6) {
    background-color: #60aeb8; }
  section.mood a img {
    opacity: 0.9;
    margin: auto;
    max-width: 6em;
    height: 4em;
    position: relative;
    left: -0.2em; }

a.button {
  color: #3e3636;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.9em;
  padding: 0.8em 2em;
  background: #4BBFC3;
  float: right;
  transition: all 100ms ease-in; }
  a.button:hover {
    color: #3e3636;
    padding: 0.8em 2.5em; }

input {
  float: right;
  padding: 0.9em 1.2em 0.7em 1.2em;
  font-family: 'Montserrat',sans-serif;
  font-size: 0.9em;
  border: none;
  border-left: #444 solid 0.5em;
  transition: all 100ms ease-in;
  color: #222; }
  input:focus {
    outline: 0;
    border-left-width: 1em; }

h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  color: black;
  padding: 0;
  margin: 0;
  text-align: center;
  margin-top: 0; }
  h1 img {
    height: 1em; }

.submit, input {
  margin-top: -2em; }

.info {
  margin-top: -1em;
  float: left;
  margin-bottom: 7em; }
  .info span {
    text-transform: uppercase;
    color: #555;
    font-weight: bold; }
    .info span.color {
      width: 2em;
      height: 0.8em;
      display: inline-block;
      margin-right: 2em; }

div.alert {
  display: none;
  position: fixed;
  top: 25%;
  left: 50%;
  width: 30%;
  height: 25%;
  background: #111;
  padding-bottom: 1em;
  transform: translateX(-50%); }
  div.alert p {
    display: block;
    text-align: center;
    margin: 2em;
    color: #eee; }
  div.alert a.button {
    float: none; }

@media (max-width: 1050px) {
  section {
    min-height: 6em;
    margin-bottom: 3em; }
    section.mood a img {
      height: 2em;
      max-width: 3em; }
  div.alert {
    width: 80%; }
  .info {
    display: block;
    clear: both;
    margin-top: -1.5em;
    margin-bottom: 2em; }
  a.submit {
    clear: both; }
  a.submit, .note {
    float: left;
    margin-right: 2em;
    margin-bottom: 5em;
    margin-top: 0.5em; }
  article span.date {
    clear: both;
    float: none;
    display: block; } }

@media (max-width: 800px) {
  section {
    min-height: 4em; }
  article span.notes {
    display: block;
    margin-top: 4px; } }

@media (max-width: 600px) {
  .info {
    font-size: 0.8em; }
    .info span.color {
      width: 0.8em; }
      .info span.color section {
        min-height: 4em; }
      .info span.color article span.notes {
        display: block;
        margin-top: 4px; } }
  @media (max-width: 600px) and (max-width: 600px) {
    .info section {
      min-height: 4em; }
    .info article span.notes {
      display: block;
      margin-top: 4px; } }
  @media (max-width: 600px) and (max-width: 600px) {
    .info {
      margin-right: 1em; } }

@media (max-width: 600px) {
  a.submit, .note {
    font-size: 0.8em; } }

/*# sourceMappingURL=style.css.map */