*, :before, :after {box-sizing:border-box;}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background: rgb(0,0,0);
}

.error-message {
  background: #870007;
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 20px;
  width: 100%;
}

.navhomepage {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width:100%;
  height:90px;
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(59,59,58,1) 100%);
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: darkgray;
  border-bottom-width: 1px;
  border-bottom-style: solid

}
.navhomepage ul li{
display: inline;
padding-right:0px;
color: #870007;
font-size: small;
padding-right: 10px;
font-weight: 400;
}
.navhomepage h2{
  // font-family: 'Pacifico', cursive;
  font-family: 'Oleo Script', cursive;
  font-size: 35px;
  color: #870007;
  padding-left: 10px;
  font-weight: lighter;
  border:10;
}

  .homepage{
  overflow:hidden;
  min-height:100vh;
  background-image: url("../images/image0.jpeg");
  background-size: cover;
  height: 300px;
  }
  .homepage p{
  width: 300px;
  font-size: 27px;
  font-weight:normal;
  text-align:center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
  color:white;
  font-family: 'Oleo Script', cursive;
  }

  .btn {
    display:inline-block;
    padding:1em;
    background:#870007;
    border-radius:5px;
    border:3px solid;
    font-family: 'Oleo Script', cursive;
    color:black;
    border-color: black;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: uppercase;
    transition: .3s ease background;
    cursor: pointer;
    display: inline-block;

   }
  
  
  #form {
    margin: 30px auto;
    width: 380px;
  }
  
  #form label {
    color: #666;
    display: inline-block;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
  }
  
  #form input,
  #form button {
    box-sizing: border-box;
    font-size: 14px;
    outline: 0;
    padding: 4px;
    width: 100%;
    margin-bottom: 20px;
  }
  
  #form button {
    background: #870007;
    border: 1px solid #870007;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    padding: 8px 16px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .3s ease background;
  
  }
  
  #form button:hover {
    background: #fff;
    color: #870007;
    transition: .3s ease background;
  }
  /*MoviesLIST----------------------------------------*/

  #moviespage {
    text-align:center;
    color: white;
    font-family: 'Oleo Script', cursive;
  }